/* GENERAL */

:root {
    --pink: #e53170;
    --black: #0f0e17;
    --aqua: #55b8e7;
    --white: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;                                                   
}
body{
    color: var(--black);
    font-family: 'Fredoka', sans-serif;
}


/* CONTAINER */

.header-box{

    max-width: 1200px;
    margin: 0 auto;
    
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
    
}

.col{
    float: left;
    width: calc(100% / 3);
    
    
    
}

/* .profile-box{
    widt

} */

/* IMMAGINI */

img{
    width: 30%;
    float: left;
}


/* TEXT */

h1{
    color: var(--pink);
    text-align: center;
    padding: 30px;
    
}

.header-box>p{
    text-align: center;
    padding: 0 5px 30px 5px;
    font-size: 1.1rem;
    
}

img>h2{

}


