/* GENERAL */

:root {
    --pink: #e53170;
    --black: #0f0e17;
    --aqua: #55b8e7;
    --white: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;                                                   
}
body{
    color: var(--black);
    font-family: 'Fredoka', sans-serif;
}


/* CONTAINER */

.header-box{

    max-width: 1200px;
    margin: 0 auto;
    
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
    
}

.col{
    float: left;
    width: calc(100% / 3);
    
    
}
.profile-box{
    margin: 20px;
    background-color: var(--black);
    
}


/* IMMAGINI */

img{
    width: 30%;
    float: left;
    
}


/* TEXT */

h1{
    color: var(--pink);
    text-align: center;
    padding: 30px;
    font-size: 2.5rem;
    
}

.header-box>p{
    text-align: center;
    padding: 0 5px 30px 5px;
    font-size: 1.1rem;
    
}

.text-info>h2{
    color: var(--white);
    vertical-align:middle;
    font-size: 1rem;
    
     
}

.text-info>p{
    color: var(--white);
    vertical-align:middle;

   

}

.text-info p:last-child{
    color: var(--aqua);
    vertical-align:middle;
    
}

.text-info{
    padding: 24px;
}
   


